
HappyApp/bin/*
!HappyApp/bin/data/
HappyApp/build/
HappyApp/obj/
HappyApp/Debug/
HappyApp/Release/

ParticlesApp/bin/*
!ParticlesApp/bin/data/
ParticlesApp/build/
ParticlesApp/obj/
ParticlesApp/Debug/
ParticlesApp/Release/

.o

*.mode
*.app/
*.pyc
.svn/
addons.make


*.plist
*.xcconfig
*.xcodeproj
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3

xcuserdata
*.xcworkspace


.DS_Store
*.swp
*~.nib


._*

